* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.svg-container {
  max-width: 800px;
}

.link {
  stroke: #000;
  stroke-width: 1.5px;
}

.node {
  cursor: move;
  fill: rgb(83, 238, 35);
  stroke: #000;
  stroke-width: 1.5px;
  filter: drop-shadow(5px 5px 5px grey);
}

.node.fixed {
  fill: #f00;
}

.selected-container {
  margin: 2rem;
  padding: 2rem;
  width: fit-content;
  border: 3px solid black;
}

.App{
  display: flex;
  margin-top: 300px;
}
.friend-slide{
  margin-right: 1000px;
  height: 100%;
  background-color: blue;
}
svg{
  height: 1000px;
}


