body{
    overflow: hidden;
}
#home{
    background-image: url('../images/coast-zoom-screens4.jpg');
    background-repeat: none;
    background-size: cover;
    width: 100vw; 
    height: 100vh; 
    
}

.landing-bubbles{
    width: 30%;
    height: 0;
    padding-bottom: 30%;
    border-radius: 50%;
    background-color: white;
    border: groove;
    margin-left: auto;
    margin-right: 5%;
    margin-top: 10vh;
    cursor: pointer;
}


.center-bubb{
    width: 20%;
    height: 0;
    padding-bottom: 20%;
    background-color: black;
    border-radius: 50%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20%;
    margin-bottom: 10%;
    text-align: center;
    display: flex;
}




.bottom-bubbs{
    width: 30%;
    height: 0;
    padding-bottom: 30%;
    background-color: black;
    border-radius: 50%;
    text-align: center;
}

.bottom{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

#left-bubb{
    margin-right: auto;
    background-color: blue;
}

.landing-bubbles h3{
    margin-top: 40%;
    color: white;
    font-size: 80%
}


.landing-text{
    width: 40%;
    height: 0;
    padding-bottom: 30%;
    
    margin-left: auto;
    margin-top: 10vh;
    text-align: center;
}

.landing-text h1{
    font-size: 200%;
}

.landing{
    display: flex;
}

#home h1{
    
    color: white;

}

#home h2{
    font-size: 150%;
    color: white;
}

.center-bubb h3{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

