
.nav-body{
    display: flex;
    background-color: black;
    color: white;
    padding: 25px;
    position: fixed;
    width: 100%;
    
}

.nav-header{
    
    margin-right: auto;
    
}

.nav-link{
    text-decoration: none;
    color: white;
    margin-right: 40px;
    font-size: 30px;
}

