
.nav-body{
    display: flex;
    background-color: white;
    color: black;
    padding: 25px;
    width: 100%;
    border-bottom: ridge;
    
}

.nav-header{
    
    margin-right: auto;
    
}

.nav-link{
    text-decoration: none;
    color: black;
    margin-right: 40px;
    font-size: 30px;
}

