
.about-circles{
    display: flex;
    background-color: aquamarine;
    width: 100vw;
    height: 100vh;
}
.about-circle-main{
    margin-top: 0%;
    margin-left: 0%;
    width: 100%;
    height: 50%;
    /* background-color: rgb(138, 255, 127); */
}
.about-circle-app{
    margin-top: 8%;
    margin-left: 3%;
    width: 25%;
    height: 25%;
    /* background-color: rgb(255, 127, 127); */
}
.about-circle-dev{
    margin-top: 8%;
    margin-left: 0%;
    width: 17%;
    height: 17%;
    
    /* background-color: aquamarine; */
}