.profile-pic-container{
    color: white;
    /* background-color: blueviolet; */
    display: inline;
}

.profile-pic{
    max-width: 400px;
    max-height: 400px;
}
.profile-user-info{
    width: 100%;
    text-align: left;
    padding-left: 10%;    
}
.profile-username{
    margin-top: 10%;
    font-size: 50px;
}
.profile-phone{
    margin-top: 10%;
    font-size: 30px;
}
.profile-initials {
    text-align: left;
    padding-left: 4vw;
    transform: translate(0%, -240%);
    font-size: 90px;
  }
.profile-panels{
    display: flex;
    flex-direction: row;
}
.profile-left-panel{
    position: relative;
    margin-left:2%;
    width: 25%;
    height: 900px;
    margin-top: 2%;
}
.profile-middle-panel{
    margin-left:auto;
    width: 65%;
    height: 100%;
    min-height: 900px;
    
}
.add-contact-form-title{
    margin-top: 0px;
    margin-bottom: 8%;
    font-size: 40px;
}
.add-contact-form{
    width: 400px;
    margin-left: clamp(10%, 100px, 100px);
    margin-top: 5%;
    font-size: 26px;
}
.add-contact-btn{
    background-color: rgb(12, 9, 155);
    font-size: 26px;
}
.phone-input{
    margin-top: 25px;
}
.contacts-panel-bottom {
    display: flex;
    overflow: scroll ;
    white-space: nowrap;
    margin-top:8%;
    margin-left: -10%;
    padding-top: 5%;
    padding-left: 4%;
    height: 45%;
    width: 85%;
    bottom:0;
    overflow-y:hidden;
    padding-bottom: 20px;   
}
.contacts-panel-bottom::-webkit-scrollbar {
    height: 15px;
    
}
.contacts-panel-bottom::-webkit-scrollbar-track {
    background: transparent; 
}
.contacts-panel-bottom::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0); 
    border-radius: 15px; 
}

.contacts-panel-bottom>.contact-card:hover {
    cursor: pointer;
    transform: scale(1.5);
    /* background-color: rgb(114, 0, 0); */
}
.contact-card{
    display: flex;
    flex-direction: column;
}
.contacts-panel-bottom > .contact-card > img {
    width: 160px;
    height: 160px;
    margin: 20px;
}
.contact-name{
    margin-left: 14px;
    text-align: center;
    font-size: 24px;
}
