body{
    /* background-image: url("https://wallpaperaccess.com/full/1567665.png");  */
    background-image: url("https://cdn.wallpapersafari.com/97/50/eRwDMy.jpg");
    background-origin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 1200px;
   
}
